.content-20
  z-index: 50
  left: 0
  width: 100%
  position: relative
  padding-top: 100px
  padding-bottom: 100px
  color: white
  text-align: center
  img
    width: 80%
    // margin-top: 20px
    position: relative

.content-21
  height: 100vh
  width: 100%
  z-index: 50
  left: 0
  width: 100%
  position: relative
  padding-top: 30vh
  padding-bottom: 30vh
  color: #FFFFFF
  text-align: center
  h2
    margin-top: 0px
  img
    width: 100%
    margin-top: 50px
    position: relative
  a
    color: #003344
    font-size: 17px
    font-family: 'Source Sans Pro', sans-serif
    &:hover, &:focus, &.active
      color: #003344

  .btns
    display: inline-block
    margin-top: 50px
    .btn
      &:hover
        background-color: #FF5500
      min-width: 160px
      float: left
      + .btn
        margin-left: 20px
  .btn
    &.btn-volunteer
      background-color: #FFFFFF
      border-radius: 2px
    &.btn-school
      background-color: #FFFFFF
      border-radius: 2px

@media (max-width: 480px)
  .content-21 .btns
    margin-top: 48px
    display: block

@media (max-width: 480px)
  .content-21 .btns .btn
    float: none
    display: block
    margin-top: 10px
    &:first-child
      margin-top: 0

@media (max-width: 480px)
  .content-21 .btns .btn + .btn
    margin-left: 0

.content-22
  z-index: 50
  left: 0
  width: 100%
  position: relative
  text-align: left
  padding-bottom: 100px
  h1
    margin: 0
    font-family: 'Source Sans Pro', sans-serif
    font-size: 31px
    font-weight: 300
    color: #000000
  img
    width: 70%
    margin-top: 50px
    position: relative
    align-items: center
    display: block
    margin-left: auto
    margin-right: auto
  h6
    font-weight: 500
    text-align: center
  h5
    // padding-top: 50px
    margin-top: 70px
    vertical-align: middle
    font-family: 'Source Sans Pro', sans-serif
    font-size: 31px
    font-weight: 300
    color: #000000
    text-align: center

@media (max-width: 480px)
  .content-22
    .img
      width: 20%

.content-25
  position: relative
  overflow: hidden
  padding-top: 23px
  padding-bottom: 23px
  text-align: left
  background-color: #E2E2E2
  h1
    margin-top: 0px
    margin-bottom: 0px
    font-family: 'Source Sans Pro', sans-serif
    font-size: 90px
    font-weight: normal
    color: #FF5500
  p
    margin-top: 0px
    margin-bottom: 0px
    padding-top: 14px
    font-family: 'Source Sans Pro', sans-serif
    font-size: 30px
    font-weight: 400
    line-height: 40px
    color: #FF5500

.content-26
  position: relative
  overflow: hidden
  padding-top: 30px
  padding-bottom: 30px
  text-align: left
  background-color: #E2E2E2
  h1
    margin-top: 0px
    margin-bottom: 0px
    font-family: 'Source Sans Pro', sans-serif
    font-size: 90px
    font-weight: normal
    color: #FF5500
  p
    margin-top: 0px
    margin-bottom: 0px
    font-family: 'Source Sans Pro', sans-serif
    font-size: 30px
    font-weight: 400
    line-height: 40px
    color: #FF5500

.content-27
  position: relative
  overflow: hidden
  padding-top: 20px
  padding-bottom: 20px
  text-align: left
  background-color: #E2E2E2
  p
    margin-bottom: 0px
    margin-top: 0px
    font-family: 'Source Sans Pro', sans-serif
    font-size: 20px
    font-weight: normal
    color: #4A4A4A
  .col-sm-10 > img
    width: 100%
    margin-top: 50px
    position: relative

.content-28
  position: relative
  overflow: hidden
  padding-top: 30px
  padding-bottom: 30px
  text-align: left
  p
    font-family: 'Source Sans Pro', sans-serif
    font-size: 20px
    font-weight: normal
    color: #999999
    display: inline-table
    margin-bottom: 0px
  a
    float: right
    font-family: 'Source Sans Pro', sans-serif
    font-size: 20px
    font-weight: normal
    color: #003344
  .btn
    &:hover
      color: #FF5500

.content-29
  position: relative
  overflow: hidden
  padding-top: 60px
  padding-bottom: 60px
  text-align:center
  p
    font-family: 'Source Sans Pro', sans-serif
    font-size: 30px
    font-weight: 400
    color: #003344
    margin-bottom: 0px
    text-align: center
    text-indent: left
