
.hero
  color: #FFF
  text-align: center
  position: relative
  background: url('background_hero.jpg') no-repeat
  background-size: cover
  background-color: #000

  p 
    font-size: 26px
    margin: 0 auto 20px

  p.first_text
    max-width: 500px
    font-weight: 200

  p.second_text
    max-width: 700px
    font-weight: 200
    margin-bottom: 100px

  p.buttons
    width: 450px
    position: absolute
    bottom: 40px
    left: 50%
    margin-left: -225px

  p.buttons a
    color: #FFF
    font-size: 24px
    display: inline-block
    padding: 10px 20px
    margin: 0 10px
    border-radius: 4px
    background-color: #07A597

  p.buttons a:hover
    color: #F79433
    background-color: #FFFFFF

  .logo_img
    margin-top: 130px
    margin-bottom: 50px

    img
      width: 640px
