// ---------------------------------------------------------------------------------/
//  BASE IMPORTS
// ---------------------------------------------------------------------------------/
//
// FRAMEWORKS AND PLUGINS
// --------------------------------------------------
@import "bootstrap/css/bootstrap.scss"
@import "css/flat-ui.scss"

// COMPASS
// --------------------------------------------------
@import "compass"

// BASE PARTIALS
// --------------------------------------------------
@import "variables"
@import "fonts"

// UI kit assets
// --------------------------------------------------
@import "startup-kit-tpl/base_header"
@import "startup-kit-tpl/header_1"
@import "startup-kit-tpl/header_2"
@import "startup-kit-tpl/header_10"
@import "startup-kit-tpl/base_content"
@import "startup-kit-tpl/content_32"
@import "startup-kit-tpl/content_2"
@import "startup-kit-tpl/price_3"
@import "startup-kit-tpl/footer_3"
@import "startup-kit-tpl/content_60"


// ---------------------------------------------------------------------------------
//  DEFAULT STYLES
// ---------------------------------------------------------------------------------
html
  overflow-y: scroll


// GRIDS
// --------------------------------------------------

body

  .profiler-results
    display: none

body[data-development-grid="show"]
  .profiler-results
    display: block
