<section class="header-2-sub bg-volunteers">
    <div class="background">&nbsp;</div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="hero-unit">
            <h1>Adote uma escola e ajude a sua comunidade,<br/>
                    'através da sua participação.</h1>
          </div>
          <div class="btns">
            <a class="btn btn-inverse" href="/users/sign_up">Voluntário</a>
            <a class="btn btn-danger" href="#">Escola</a>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="content-32">
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h6>Cadastre-se</h6>
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h6>Compartilhe suas habilidades</h6>
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <h6>Ajude uma escola</h6>
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-28 bg-clouds">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>More than image</h3>
                <p>'Lorem ipsum dolor sit amet, consectetur adipiscing 
                    'elit. Morbi ligula dui, hendrerit nec molestie non, semper eget
                    'nisl integer phare.                        
                </p>
            </div>
        </div>
    </div>
</section>

<section class="content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Por que não adotar uma escola?</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec 
                   ' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui.
                </p>

                <div class="btns">
                    <a class="btn btn-primary" href="#"><span class="fui-apple"> </span>Participe</a>
                    <a href="#"><b>Conheça o projeto</b></a>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="player">
                    == image_tag("escola-destruida.jpg")
                </div>
            </div>
        </div>
    </div>
</section>
