<section class="header-2-sub bg-volunteers">
    <div class="background">&nbsp;</div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="hero-unit">
            <h1>Adote uma escola e ajude a sua comunidade,<br/>
                    'através da sua participação.</h1>
          </div>
          <div class="btns">
            <a class="btn btn-inverse" data-toggle="modal" data-target="#myModal">Voluntário</a>
            <a class="btn btn-danger"  data-toggle="modal" data-target="#myModal">Escola</a>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="content-32">
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h6>Cadastre-se</h6>
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h6>Compartilhe suas habilidades</h6>
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <h6>Ajude uma escola</h6>
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-28 bg-clouds">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>More than image</h3>
                <p>'Lorem ipsum dolor sit amet, consectetur adipiscing 
                    'elit. Morbi ligula dui, hendrerit nec molestie non, semper eget
                    'nisl integer phare.                        
                </p>
            </div>
        </div>
    </div>
</section>

<section class="content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Por que não adotar uma escola?</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec 
                   ' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui.
                </p>

                <div class="btns">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="fui-apple"> </span>Participe</a>
                    <a href="#"><b>Conheça o projeto</b></a>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="player">
                    == image_tag("escola-destruida.jpg")
                </div>
            </div>
        </div>
    </div>
</section>

/-- Modal --/
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastro de Voluntário</h4>
      </div>
      <div class="modal-body">
        <form id="new_user" class="new_user" method="post" action="users/">
          <div class="field">
            <label for="user_email" class="control-label">Email:</label> 
            <input id="user_email" class="form-control" type="email" name="user[email]" value="" autofocus="autofocus"></input>
          </div>
          <div class="field">
            <label for="user_password" class="control-label">Senha:</label> 
            <input id="user_password" class="form-control" type="password" name="user[password]" value="" autocomplete="off"></input>
          </div>
          <div class="field">
            <label for="user_password_confirmation" class="control-label">Confirme a senha:</label>
            <input id="user_password_confirmation" class="form-control" type="password" name="user[password_confirmation]" value="" autocomplete="off"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" form="new_user" id="submitUser" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>
