/--Home Page Frame--/
<section class="header-2-sub bg-home">
    <div class="background">&nbsp;</div>
    <div class="col-sm-6 col-sm-offset-3">
      == image_tag("LOGO_preta.svg")
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="hero-unit">
            <h1>porque uma boa educação,<br/>
                    'depende de <b>todos nós</b>.</h1>
          </div>
          <div class="btns">
            <a class="btn btn-volunteer showVolunteerForm">me voluntariar</a>
            <a class="btn btn-school showSchoolForm">cadastrar minha escola</a>
          </div>
        </div>
      </div>
    </div>
</section>

/--About us Frame--/
<section>
  <div class="content-28">
      <div class="container">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                  <p><b>NOSSO PROPÓSITO</b></p>
              </div>
          </div>
      </div>
  </div>
  <div class="content-61 bg-about_us">
      <div class="container">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
              <h1><b>Acreditamos que o caminho para,<br/>
                      'mudar o mundo é por meio da<br/>
                      'educação</b></h1>
              </div>
          </div>
      </div>
  </div>

  <div class="content-32">
      <div class="features">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3 col-sm-offset-1">
                      <h6><b>Nós nos preocupamos<br/>
                          'com as necessidades<br/>
                          'das escolas</b></h6>
                      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                  </div>
                  <div class="col-sm-4">
                      <h6><b>Nós sabemos<br/>
                          'que tem muita gente<br/>
                          'querendo ajudar</b></h6>
                      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                  </div>
                  <div class="col-sm-3">
                      <h6><b>Nós queremos mudar<br/>
                          'a educação do país<br/>
                          'juntos</b></h6>
                      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula dui, hendrerit nec molestie non, semper eget nisl integer phare.
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

/--Infograph--/
<section class="content-23">
  <div class="content-27">
    <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <p><b>POR QUE FAZEMOS ESSE PROJETO?</b></p>
          </div>
      </div>
    </div>
  </div>
  <div class="content-26">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h1><b>3º</b></h1>
        </div>
        <div class="col-sm-8">
            <p>no ranking para porcentagem<br/>de gastos públicos com<br/>educação</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-31">
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            == image_tag("slice1.png")
          </div>
          <div class="col-sm-5">
            == image_tag("slice2.png")
          </div>
          <div class="col-sm-10 col-sm-offset-1">
              <h6>O Brasil está atrás da Nova Zelaândia e<br/>
                'do México, que investem <b>18,4%</b> de seus<br/>
                'gastos públicos em educação.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-26">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h1><b>33º</b></h1>
        </div>
        <div class="col-sm-8">
            <p>no ranking para gastos por<br/>estudante</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-31">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        == image_tag("brl_estudante_2x.png")
      </div>
      <div class="col-sm-2">
        <h5><b>US$3.066,00</b><br/>por estudante</h5>
      </div>
      <div class="col-sm-2">
        == image_tag("oecd_estudante_2x.png")
      </div>
      <div class="col-sm-3">
        <h5><b>US$9.487,00</b><br/>por estudante</h5>
        <p>Média da OECD- Organização para cooperação e<br/>Desenvolvimento Econômico.</p>
      </div>
    </div>
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <h6>O Brasil está na frente somente da<br/>
                'Indonésia, que investe <b>US$ 625,00</b></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-26">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h1><b>59º</b></h1>
        </div>
        <div class="col-sm-8">
            <p>no ranking do programa<br/>internacional de avaliação de<br/>alunos em matemática (PISA)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-31">
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <h6>Em primeiro lugar está Singapura,<br/>
                'seguida da China e da Coreia do Sul. Na<br/>
                'última posição está Gana. Os últimos 15<br/>
                'lugares são ocupados principalmente por<br/>
                'países sul-americanos.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</secton>

/--How it works Frame--/
<section class="content-20 bg-darkblue">
  == image_tag("infografico.png")
</section>

/--How to Help--/
<section class="content-22 bg-white">
  <div class="content-28">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p><b>COMO VOCÊ PODE AJUDAR?</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
      <h1>É possível ajudar de diversas maneiras, de<br/>
              'acordo com suas habilidades e<br/>
              'disponibilidade de tempo.</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2">
        == image_tag("icon-12.svg")
        <h6>consertos e instalações</h6>
      </div>
      <div class="col-sm-2">
        == image_tag("icon-11.svg")
        <h6>palestras e <br/>cursos</h6>
      </div>
      <div class="col-sm-2">
        == image_tag("icon-10.svg")
        <h6>monitoria e <br/>reforço</h6>
      </div>
      <div class="col-sm-2">
        == image_tag("icon-08.svg")
        <h6>suporte <br/>psico-pedagógico</h6>
      </div>
      <div class="col-sm-2 col-sm-offset-3">
        == image_tag("icon-11.svg")
        <h6>atividades <br/>culturais</h6>
      </div>
      <div class="col-sm-2">
        == image_tag("icon-15.svg")
        <h6>patrocínios</h6>
      </div>
      <div class="col-sm-2">
        <h5><b>E muito<br/> mais!</b></h5>
      </div>
    </div>
  </div>
</section>

/ <section>
/   <button type="button" id="showVolunteerForm" class="btn btn-primary">TESTE FORM</button>
/ </section>

/--Sign-up Frame--/
<section class="content-21 bg-sign-up">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="hero-unit">
          <h2><b>Vamos lá!</b><br/>
          </h2>
        </div>
        <div class="btns">
          <a class="btn btn-volunteer showVolunteerForm">me voluntariar</a>
          <a class="btn btn-school showSchoolForm">cadastrar minha escola</a>
        </div>
      </div>
    </div>
  </div>
</section>

/--Volunteer Form--/
<section class="content-2" id="formVolunteer">
  <div class="content-28">
      <div class="container">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                  <p><b>CADASTRO DE VOLUNTÁRIO</b></p>
                  <a class="btn form" href="#formSchool" id="toSchool"><b>IR PARA ESCOLA<b> ></a>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <form id="volunteer_user" class="new_user" method="post" action="users/">
          <div class="field">
            <label for="user_name" class="control-label">nome</label> 
            <input id="user_name" class="form-control" type="text" name="user[name]" value="" autofocus="autofocus"></input>
          </div>
          <div class="field">
            <label for="user_email" class="control-label">e-mail</label> 
            <input id="user_email" class="form-control" type="email" name="user[email]" value="" autofocus="autofocus"></input>
          </div>
          <div class="field">
            <label for="user_phone" class="control-label">telefone</label> 
            <input id="user_phone" class="form-control" type="text" name="user[phone]" value="" autofocus="autofocus"></input>
          </div>
          <div class="field">
            <label for="user_password" class="control-label">senha</label> 
            <input id="user_password" class="form-control" type="password" name="user[password]" value="" autocomplete="off"></input>
          </div>
          <div class="field">
            <label for="user_password_confirmation" class="control-label">confirme a senha</label> 
            <input id="user_password_confirmation" class="form-control" type="password" name="user[password_confirmation]" value="" autocomplete="off"></input>
          </div>
          <div class="field">  
            <legend>posso ajudar</legend>
            <input type="checkbox" name="user[volunteer_profile_attributes][skills][]" value="conserto" id="first_checkbox"> consertos e instalações<br>
            <input type="checkbox" name="user[volunteer_profile_attributes][skills][]" value="monitoria"> monitoria e reforço<br>
            <input type="checkbox" name="user[volunteer_profile_attributes][skills][]" value="palestra"> palestras e cursos<br>
            <input type="checkbox" name="user[volunteer_profile_attributes][skills][]" value="psicologo"> suporte psicológico<br>
            <input type="checkbox" name="user[volunteer_profile_attributes][skills][]" value="cultural"> atividades culturais<br>
            <input type="checkbox" name="user[volunteer_profile_attributes][skills][]" value="patrocinio"> patrocínio<br>
          </div>
        </form>
        <div class="btns">
          <button type="button" id="submitVolunteer" class="btn">enviar meu cadastro!</button>
        </div>  
      </div>
    </div>
  </div>
</section>

/--School Form--/
<section class="content-2" hidden="true" id="formSchool">
  <div class="content-28">
      <div class="container">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                  <p><b>CADASTRO DE ESCOLA</b></p>
                  <a class="btn form" href="#formSchool" id="toVolunteer"><b>IR PARA VOLUNTÁRIO<b> ></a>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <form id="school_user" class="new_user" method="post" action="users/">
          <div class="field">
            <label for="user_name" class="control-label">nome</label> 
            <input id="user_name" class="form-control" type="text" name="user[name]" value="" autofocus="autofocus"></input>
          </div>
          <div class="field">
            <label for="user_email" class="control-label">email</label> 
            <input id="user_email" class="form-control" type="email" name="user[email]" value="" autofocus="autofocus"></input>
          </div>
          <div class="field">
            <label for="user_phone" class="control-label">telefone</label> 
            <input id="user_phone" class="form-control" type="text" name="user[phone]" value="" autofocus="autofocus"></input>
          </div>
          <div class=field>
            <label for="user_school_profile_address" class="control-label">endereço</label>
            <input id="user_school_profile_address" class="form-control" type="text" name="user[school_profile_attributes][address]" value="" autocomplete="off"></input>
          </div>
          <div class="field">
            <label for="user_password" class="control-label">senha</label> 
            <input id="user_password" class="form-control" type="password" name="user[password]" value="" autocomplete="off"></input>
          </div>
          <div class="field">
            <label for="user_password_confirmation" class="control-label">confirme a senha</label>
            <input id="user_password_confirmation" class="form-control" type="password" name="user[password_confirmation]" value="" autocomplete="off"></input>
          </div>
          <div class="field">  
            <legend>preciso de ajuda</legend>
            <input type="checkbox" name="user[school_profile_attributes][needs][]" value="conserto" id="first_checkbox"> consertos e instalações<br>
            <input type="checkbox" name="user[school_profile_attributes][needs][]" value="monitoria"> monitoria e reforço<br>
            <input type="checkbox" name="user[school_profile_attributes][needs][]" value="palestra"> palestras e cursos<br>
            <input type="checkbox" name="user[school_profile_attributes][needs][]" value="psicologo"> suporte psicológico<br>
            <input type="checkbox" name="user[school_profile_attributes][needs][]" value="cultural"> atividades culturais<br>
            <input type="checkbox" name="user[school_profile_attributes][needs][]" value="patrocinio"> patrocínio<br>
          </div>
        </form>
        <div class="btns">
          <button type="button" id="submitSchool" class="btn">enviar meu cadastro!</button>
        </div> 
      </div>
    </div> 
  </div> 
</section>

/--Thanks Frame--/
<section>
  <div class="content-62 bg-thanks">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        <h1>nós acreditamos que<br/>
                'pequenas ações podem causar
        </h1>
        <h2>
          '<b>GRANDES IMPACTOS</b>
        </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content-29">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p>muito obrigado pela sua participação!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-30 bg-darkblue">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p>
            'desenvolvido por
          </p>
          <a href="http://www.novatics.com.br">
            == image_tag("logo-novatics.png")
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

/ /-- Modal Volunteer--/
/ <div class="modal fade" id="modalVolunteer" tabindex="-1" role="dialog" aria-labelledby="modalVolunteerLabel">
/   <div class="modal-dialog" role="document">
/     <div class="modal-content">
/       <div class="modal-header">
/         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
/         <h4 class="modal-title" id="modalVolunteerLabel">Cadastro de Voluntário</h4>
/       </div>
/       <div class="modal-body">
/         <form id="volunteer_user" class="new_user" method="post" action="users/">
/           <div class="field">
/             <label for="user_email" class="control-label">Email:</label> 
/             <input id="user_email" class="form-control" type="email" name="user[email]" value="" autofocus="autofocus"></input>
/           </div>
/           <div class="field">
/             <label for="user_password" class="control-label">Senha:</label> 
/             <input id="user_password" class="form-control" type="password" name="user[password]" value="" autocomplete="off"></input>
/           </div>
/           <div class="field">
/             <label for="user_password_confirmation" class="control-label">Confirme a senha:</label>
/             <input id="user_password_confirmation" class="form-control" type="password" name="user[password_confirmation]" value="" autocomplete="off"></input>
/           </div>
/           <div class=field>
/             <label for="user_volunteer_profile_skills" class="control-label">Habilidades:</label>
/             <input id="user_volunteer_profile_skills" class="form-control" type="text" name="user[volunteer_profile_attributes][skills]" value="" autocomplete="off"></input>
/           </div>
/         </form>
/       </div>
/       <div class="modal-footer">
/         <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
/         <button type="button" id="submitVolunteer" class="btn btn-primary">Confirmar</button>
/       </div>
/     </div>
/   </div>
/ </div>
/ 
/ /-- Modal School--/
/ <div class="modal fade" id="modalSchool" tabindex="-1" role="dialog" aria-labelledby="modalSchoolLabel">
/   <div class="modal-dialog" role="document">
/     <div class="modal-content">
/       <div class="modal-header">
/         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
/         <h4 class="modal-title" id="modalSchoolLabel">Cadastro de Escola</h4>
/       </div>
/       <div class="modal-body">
/         <form id="school_user" class="new_user" method="post" action="users/">
/           <input id="user_role_id" name="user[role_id]" value="2" hidden="true"></input>
/           <div class="field">
/             <label for="user_email" class="control-label">Email:</label> 
/             <input id="user_email" class="form-control" type="email" name="user[email]" value="" autofocus="autofocus"></input>
/           </div>
/           <div class="field">
/             <label for="user_password" class="control-label">Senha:</label> 
/             <input id="user_password" class="form-control" type="password" name="user[password]" value="" autocomplete="off"></input>
/           </div>
/           <div class="field">
/             <label for="user_password_confirmation" class="control-label">Confirme a senha:</label>
/             <input id="user_password_confirmation" class="form-control" type="password" name="user[password_confirmation]" value="" autocomplete="off"></input>
/           </div>
/           <div class=field>
/             <label for="user_school_profile_address" class="control-label">Endereço:</label>
/             <input id="user_school_profile_address" class="form-control" type="text" name="user[school_profile_attributes][address]" value="" autocomplete="off"></input>
/           </div>
/           <div class=field>
/             <label for="user_school_profile_size" class="control-label">Quantidade de alunos:</label>
/             <input id="user_school_profile_size" class="form-control" type="text" name="user[school_profile_attributes][size]" value="" autocomplete="off"></input>
/           </div>
/         </form>
/       </div>
/       <div class="modal-footer">
/         <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
/         <button type="button" id="submitSchool" class="btn btn-primary">Confirmar</button>
/       </div>
/     </div>
/   </div>
/ </div>
