<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @volunteer.name %> se cadastrou!</h1>
    <p>
      <%= JSON.pretty_generate(@volunteer.as_json) %><br>
    </p>
  </body>
</html>