<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-2">
                <a class="brand" href="#">Startup</a>
            </div>
            <div class="col-sm-7">
                <div class="additional-links">
                    Be sure to take a look at our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>New York, NY</h6>
                <div class="address">
                    62 West 55th Street, Suite 302<br>New York, NY, 10230
                </div>
            </div>
        </div>
    </div>
</footer>